<h1>Text Annotator</h1>

<p>Click on any word and see its translation/definition.</p>
<p>View quick, short word entries in same view-- no switching back and forth between windows.</p>
<p>Great for reading texts in a foreign language.</p>
<p>Upload your own text!</p>

<%- include('text/index') %>
