<p id='message' ></p>
Name of text:
<input id='name' type='text' name='name'>
<br>
<br>
Language of text:
<select id='lang' name='lang'>
  <option value='en' selected>English</option>
  <option value='es'>Spanish</option>
  <option value='fr'>French</option>
</select>
<br>
<p>Select a text file to upload</p>
<form id='upload-text-form' method="POST" enctype="multipart/form-data">
  <input id='file' type="file" name="textFile">
  <br>
  <br>
  <button id='upload-button'>Upload File</button>
</form>

<p>OR</p>

<p>Enter or paste text here</p>
<form>
  <textarea id='upload-text-area'></textarea>
  <br>
  <button id='upload-text-button'>Upload Text</button>
</form>

<script>
  const uploadButton = document.getElementById('upload-button');
  const message = document.getElementById('message');
  const nameEl = document.getElementById('name');
  const langEl = document.getElementById('lang');

  uploadButton.addEventListener('click', function (event) {
    event.preventDefault();
    const formData = new FormData();
    const textFile = document.getElementById('file').files[0];
    const name = nameEl.value;
    const lang = langEl.value;

    if (isUploadValid(name, textFile, 'file')) {
      formData.append('type', 'file');
      formData.append('name', name);
      formData.append('lang', lang);
      formData.append('textFile', textFile);
      axios.post('/text/upload-file', formData, {
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      })
      .then(function(res) {
        location.href = '/';
      })
      .catch(function(error) {
        message.textContent = 'ERROR';
      });
    }
  });

  const uploadTextButton = document.getElementById('upload-text-button');
  const uploadTextArea = document.getElementById('upload-text-area');
  uploadTextButton.addEventListener('click', function (event) {
    event.preventDefault();
    const text = uploadTextArea.value; 
    const name = nameEl.value;
    const lang = langEl.value;

    if (isUploadValid(nameEl.value, text, 'text')) {
      axios.post('/text/upload-text', {
        name,
        text,
        lang
      })
      .then(function(res) {
        location.href = '/';
        console.log('hi');
      })
      .catch(function(error) {
        message.textContent = 'ERROR';
      });
    }
  });

  function isUploadValid(name, text, type) {
    if (!name) {
      message.textContent = 'Please specify a name.';
    } else if (!text) {
      console.log(text);
      const noText = type === 'file' ? 
          'Please select a file to upload.'
        : 'Please enter some text.'
      message.textContent = noText;
    } else {
      return true;
    }
  }

</script>
