<div id='text' class='section'>
<p><span class="word">Hello</span>! <span class="word">How</span> <span class="word">are</span> <span class="word">you</span>? <span class="word">This</span> <span class="word">is</span> <span class="word">a</span> <span class="word">test</span>. <span class="word">Can</span> <span class="word">you</span> <span class="word">define</span> <span class="word">these</span> <span class="word">words</span>? <span class="word">Scrumptious</span>, <span class="word">valedictorian</span>, <span class="word">presumptuous</span>.</p>
</div>

  <div id='def-sect' class='section'>
  <div id='def-loader' class='loader'></div>
  <div id='def-line'><span id='word'></span><span id='def'></span></div>
  </div>
  <script src="/javascripts/main.js"></script>