body {
  margin: 10px;
}

.section {
  padding: 8px;
}
.word {
  cursor: pointer
}

#def-sect {
  background-color: #f0f8ff;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: -10px;
}

#def-loader {
  display: none;
}

.loader {
  border: 3px solid #c6d0d8;
  border-radius: 50%;
  border-top: 3px solid #7b7b7b;
  width: 15px;
  height: 15px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#message {
  color: red;
}

.delete-button {
  margin-left: 20px;
}
