<div id='text' class='section'>
<p><span class="word">test</span> <span class="word">test</span> <span class="word">test</span>!</p>
</div>

  <div id='def-sect' class='section'>
  <div id='def-loader' class='loader'></div>
  <div id='def-line'><span id='word'></span><span id='def'></span></div>
  </div>
  <script src="/javascripts/main.js"></script>